

/* CONFIG GLOBAL */

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
body{
    margin: 0px;
    font-family: 'Alegreya', serif;
}

/* HEADER */

.header{
    /* background-image: url(../images/fondo_galleta_oreo.jpg); */
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: auto;

}

/* CONTENEDOR GENERAL CENTRADO */

.contenedor {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 12px;
}

/* BARRA DE NAVEGACIÓN */

.navbar{
    position: fixed;
    top: 0;
    z-index: 300;
    width: inherit;
}
div ul.seccion-navbar{
    display: block;
    list-style: none;
    height: 100%;
}
div ul.seccion-navbar li{
    display: inline; 
    padding: 25px 15px;
    
    /* position: relative; */
}
div ul.seccion-navbar li:hover{
    border-top: 5px solid #8e7754;
    transition: border 0.2s ease;
}
div ul.seccion-navbar li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}

div ul.seccion-navbar li a:hover{
    color: #8e7754;
    transition:color 0.5s ease;
    
}
.active{
    border-top: 5px solid #8e7754;
}

/* LOGO DE LA BARRA DE NAVEGACIÓN */

div.navbar img{
    height: 90px;
    padding:5px
}

/* SECCIÓN DE BIENVENIDA - DESCRIPCIÓN */

.desc{
    width: 700px;
    margin:  auto;
    margin-top: 150px;
    text-align: center;
    color: #e0dcd2;
}

.desc h1{
    font-size: 70px;
    color:#fff;
    font-weight: 400;
}
.desc p{
    margin-bottom: 5px;
    font-size: 22px;
    color: #fff;
}

/* BOTONES PRINCIPALES */

.btn{
    padding: 15px 28px;
    font-weight: 200;
    color: #fff;
    border-radius: 5px;
    margin: 50px 10px;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    cursor: pointer;
    
}

.btn-ver_mas{
    background-color: #8e7754;
    border: 2px solid #8e7754;
}
.btn-ver_mas:hover{
    background-color:#fff ;
    border: 2px solid #fff;
    color: #000;
    transition:color 0.5s ease, background-color 0.5s ease,border 0.5s ease;
}
.btn-contacto{
    background-color: transparent;
    border: 2px solid #fff;
}
.btn-contacto:hover{
    background-color: #fff;
    color: #000;
    transition:color 0.5s ease, background-color 0.5s ease,border 0.5s ease;
}

/* FLECHA DEL SCROLL HACIA ABAJO */

.scroll-down-out{
    margin: 20px auto;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}
.scroll-down-in{
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin:5px auto;
    animation: movedown 5s infinite;
    position: relative;
}
@keyframes movedown {
    0%   {top:0px;background-color: #fff;}
    100% {top:20px;opacity: 0;}
}

/* SECCIÓN QUIENES SOMOS */

.seccion{
    margin: auto;
    margin-top: 40px;
}

.seccion img.img-seccion{
    width: 50%;
    vertical-align: top;
}
.descripcion{
    width: 49%;
    padding:0px 50px;
    display: inline-block;
}

.descripcion p.desc1{
    padding-bottom: 20px;
}
.descripcion ul li img{
    border: 0.5px solid #8e7754;
}

.seccion-donde_encontrarnos{
    background-color: #f8f8f8;
}

/* SECCIÓN NUESTROS PRODUCTOS */

.heading-seccion{
    text-align: center;
}

.heading-seccion p{
    color: #686868;
    font-size: 18px;
}
.baking-seccion{
    width: 33.3%;
    text-align: center;
    padding: 20px;
}
.baking-seccion .image-box img{
    width: 100%;
}
.baking-seccion .image-box h3{
    font-size: 25px;
    font-weight: 100;
}
.baking-seccion .image-box p{
    color: #686868;
    font-size: 18px;
}

/* SECCIÓN CONTÁCTANOS */

.contactanos{
    background-color: #f8f8f8;
    padding-block: 30px;
}
.seccion-details{
    width: 50%;
    padding-inline: 40px;
}
.contactanos ul li img{
    background-color: #8e7754;
    border-radius: 15px;
}
.seccion-contactanos{
    width: 50%;
}


/* FOOTER */

.footer{
    background-color: #403d38;
}
.footer-seccion{
    width: 25%;
    padding: 7px;
}
.footer-seccion h4{
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.footer-seccion .first-desc{
    margin-top: 10px;
    padding-top: 20px;
}
.footer-last{
    background-image: linear-gradient(rgba(64, 61, 56, 0.9), rgba(64, 61, 56, 0.9)), url("../images/contact-details-map.png");
    background-repeat: no-repeat;
    background-position: center center;
}

/* COPYRIGHT Y REDES SOCIALES */

.copyright{
    background-color: #1b1b1b;
    padding:30px
}
.content{
    text-align: center;
}
.content ul li{
    display: inline;
    
}
.content ul li img{
    background-color: #686868;
    border-radius: 50%;
    cursor: pointer;
}
.content ul li img.facebook:hover{
    background-color: #1877f2;
}
.content ul li img.whatsapp:hover{
    background-color: #369c1c;
}
.content ul li img.instagram:hover{
    background-color: #fd1d1d;
}
.content ul li img.tiktok:hover{
    background-color: #000;
}

/* BOTÓN DE VOLVER ARRIBA */

#myBtn{
    text-align: center;
    display: none;
    float: right;
    background-color: #e0dcd2;
    border-radius: 50%;
    margin:5px;
    padding: 10px !important;
    width: 40px !important;
    height: 40px;
    animation: up 3s infinite;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
}
.top{
    padding: 5px !important;
    margin: -5px;
}
@keyframes up{
    0%   {bottom:10px;opacity: 0;}
    100% {bottom:20px;}
}

/* AJUSTES GENERALES */

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-fix{
    clear: both;
}
.header-ds{
    font-size: 30px;
    font-weight: 100;
}
.paragraph-ds{
    line-height: 1.86em;
    color: #686868;
    font-size: 18px;
}
.paragraph-ds-2{
    line-height: 1.86em;
    color: #ddd6d6;
    font-size: 16px;
}
.span-ds{
    font-size: 18px;
    color: #686868;
}
.span-ds-2{
    font-size: 16px;
    color: #ddd6d6;
}
.li-img-ds{
    margin-right: 15px;
    padding: 5px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle; /* centrar imagen vertical con texto */
}
.li-img-ds-2{
    display: inline;
    margin-right: 15px;
    padding: 5px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle; /* centrar imagen vertical con texto */
}
.ul-group{
    list-style: none;
    padding: 20px 0px;
}

.ul-li-group{
    margin-block: 20px;
    
}
.ul-li-group-2{
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    margin-bottom: 6px;
    padding-bottom: 7px;
}
.no-border{
    border: none;
}

/* MENÚ DESPLEGABLE */

.test-drop {
    display: inline;
    position: relative;
  }
  .dropdown-content{
    display: block;
  }
  .dropdown-content a {
    font-size: 16px !important;
    color: #686868 !important;
    padding: 10px 16px;
    text-decoration: none;
    display: inline-block;
    transition:color 0.3s ease, background-color 0.2s ease;
  }
  .dropdown-content {
    display: none;
    position: absolute ;
    top: 100%;
    right: 0;
    background-color: #403d38;
    min-width: 160px;
    z-index: 1;
  }

  /* MOSTRAR MENÚ (BLOG) AL PASAR EL MOUSE */

  .test-drop:hover .dropdown-content {
    display: block;
}
  .dropdown-content a:hover {background-color: #8e7754;color: #e0dcd2 !important;padding-left: 12px;}

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

/* SLIDER CON FLECHAS */

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.slide.active {
    opacity: 1;
    z-index: 2;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit:  cover;
    display: block;
    background-color: transparent;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.3s;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Asegura que el contenido del header esté encima del slider */
.header > .navbar,
.header > .contenedor,
.header > .clear-fix {
    position: relative;
    z-index: 2;
}
